<p>add works!</p>
<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">

        <form>
            <div class="mb-3">
              <label for="" class="form-label">Add</label>
              <input type="text"class="form-control" name="" id="" aria-describedby="helpId" placeholder="Title">
              <input type="text"class="form-control" name="" id="" aria-describedby="helpId" placeholder="Body">
            </div>
            <button type="button" class="btn btn-success">Send</button>

        </form>

    </div>
</div>